h1 {
  font-size: 30px;
  font-weight: normal;
}
form {
  padding: 50px 20%;
}
form h2 {
  border-top: #EBECF0 1px solid;
  margin-top: 20px;
  padding-top: 20px;
  margin-bottom: 15px;
}
form h3 {
  margin-bottom: 5px;
}
form .half {
  width: 48%;
  float: left;
  z-index: 1;
}
form .half.left {
  margin-right: 2%;
}
form .half.right {
  margin-left: 2%;
}
form .whole {
  width: 100%;
}
form .addItem {
  background-color: #F7F7F7;
  border: 1px solid #EBECF0;
  overflow: hidden;
  padding: 20px;
  margin-top: 10px;
}
form .error {
  color: #FCC1A7;
  display: inline-block;
  padding: 5px 0px 0px;
  font-size: 12px;
}
form .has-danger .error {
  float: right;
}
form .has-danger input,
form .has-danger textarea,
form .has-danger .rw-drowpdown-list {
  border: solid 1px #FCC1A7;
}
form label {
  display: inline-block;
  padding: 5px 0px 0px;
  font-size: 12px;
}
form input,
form textarea,
form .rw-dropdown-list {
  padding: 10px 10px;
  margin: 5px 0px;
  width: calc(100% - 20px);
  background-color: #FFF;
  border-radius: 3px;
  border: 1px solid #EBECF0;
}
form input:focus,
form textarea:focus,
form .rw-dropdown-list:focus {
  border: solid 1px purple;
}
form button {
  margin: 5px 0px;
  border: none;
  background: none;
}
form button .floatingBtn {
  margin: 10px 10px 10px 0px;
  padding: 2px;
  background-color: #FCC1A7;
  color: #FFF;
  border-radius: 20px;
}
form button .btnLabel {
  top: -7px;
}
form button:focus {
  outline: none;
}
form .saveBtn {
  padding: 10px 20px;
  background-color: #495359;
  color: #fff;
  margin: 20px 0px;
  float: right;
}
